@import 'bootstrap/dist/css/bootstrap.min.css';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
                font-weight: 400;
                font-style: normal;  
}

#img-landing {
    width: 100%;
    height: 90vh;
    background-image: url('https://cdn.pixabay.com/photo/2017/09/25/17/30/chart-2785938_1280.jpg' );background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    
}

#img-landing2{
    width: 100%;
    height: 80vh;
    background-image: url("https://cdn.pixabay.com/photo/2018/06/02/22/58/career-3449422_1280.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
}

#pnf-head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}