@import 'bootstrap/dist/css/bootstrap.min.css';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
                font-weight: 400;
                font-style: normal;  
}